{
    "presets": ["es2015", "stage-0"],
    "plugins": ["transform-runtime"],
    "sourceMaps": false,
    "compact": "auto",
    "env":{
    	"development": {
    		"sourceMaps": true
    	},
    	"production" : {
    		"sourceMaps": false
    	}
    }
}