<!doctype html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport"
        content="width=device-width, initial-scale=1">
  <title><%= htmlWebpackPlugin.options.title || '' %></title>

  <!-- Set render engine for 360 browser -->
  <meta name="renderer" content="webkit">

  <!-- No Baidu Siteapp-->
  <meta http-equiv="Cache-Control" content="no-siteapp"/>

  <!-- <link rel="icon" type="image/png" href="../../Src/static/lib/AmazeUI/2.6.0/i/favicon.png"> -->

  <!-- Add to homescreen for Chrome on Android -->
  <meta name="mobile-web-app-capable" content="yes">
  <!-- <link rel="icon" sizes="192x192" href="../Src/static/lib/AmazeUI/2.6.0/i/app-icon72x72@2x.png"> -->

  <!-- Add to homescreen for Safari on iOS -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="TCEBooking"/>
  <!-- <link rel="apple-touch-icon-precomposed" href="../Src/static/lib/AmazeUI/2.6.0/i/app-icon72x72@2x.png"> -->

  <!-- Tile icon for Win8 (144x144 + tile color) -->
  <!-- <meta name="msapplication-TileImage" content="../Src/static/lib/AmazeUI/2.6.0/i/app-icon72x72@2x.png"> -->
  <meta name="msapplication-TileColor" content="#0e90d2">

  <% var allChunks = htmlWebpackPlugin.options.chunks %>
  <% for(var i=0;i<allChunks.length;i++) { %>
    <% var chunks = htmlWebpackPlugin.files.chunks[ allChunks[i] ] %>
    <% if( chunks && chunks.css ) { %>
      <% for (var j=0;j<chunks.css.length;j++) { %>
      <link href="<%= chunks.css[j] %>" rel="stylesheet">
      <% } %>
    <% } %>
  <% } %>

</head>
<body>


